In [2]:
import pandas as pd

path="C:\\Users\\Vishva\\OneDrive\\Desktop\\python\\Data\\Coupon Predictor\\Coupons.csv"
data=pd.read_csv(path)

print(data)
print(data.info())


import sklearn
from sklearn.preprocessing import LabelEncoder
le_Gender=LabelEncoder()
le_Item1=LabelEncoder()
le_Item2=LabelEncoder()
le_Item3=LabelEncoder()
le_Coupon=LabelEncoder()



data['Gender_n']=le_Gender.fit_transform(data['Gender'])                    # encoding values
data['Item1_n']=le_Item1.fit_transform(data['Item1'])
data['Item2_n']=le_Item2.fit_transform(data['Item2'])
data['Item3_n']=le_Item3.fit_transform(data['Item3'])
data['Coupon_n']=le_Coupon.fit_transform(data['Coupon'])


print(data)


inputs = data.drop(['Coupon','Coupon_n','Gender','Item1','Item2','Item3','Gender_n'],'columns')
output = data.drop(['Gender','Age','Item1','Item2','Item3','Coupon','Item1_n','Item2_n','Item3_n','Gender_n'],'columns')
print("input:",inputs)
print("output:",output)

     Gender  Age           Item1        Item2                 Item3  \
0      Male   45  Computer Games         Toys  Educational Products
1    Female   34       Cosmetics  Womens Wear             Kids Wear
2    Female   36       Cosmetics  Womens Wear                 Candy
3      Male   37  Computer Games    Gym Shoes                   Tie
4      Male   49           Heels  Womens Wear             Kids Wear
..      ...  ...             ...          ...                   ...
145  Female   31         Handbag       Movies                   Tie
146    Male   45  Computer Games         Toys  Educational Products
147    Male   39       Cosmetics  Womens Wear                 Candy
148  Female   33  Computer Games  Womens Wear  Educational Products
149    Male   49           Heels         Toys  Educational Products

             Coupon
0      Kids Apparel
1    Womens Apparel
2    Womens Apparel
3      Mens Apparel
4    Womens Apparel
..              ...
145  Womens Apparel
146    Kids Apparel
147  Womens Apparel
148    Kids Apparel
149  Womens Apparel

[150 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  150 non-null    object
 1   Age     150 non-null    int64
 2   Item1   150 non-null    object
 3   Item2   150 non-null    object
 4   Item3   150 non-null    object
 5   Coupon  150 non-null    object
dtypes: int64(1), object(5)
memory usage: 7.2+ KB
None
     Gender  Age           Item1        Item2                 Item3  \
0      Male   45  Computer Games         Toys  Educational Products
1    Female   34       Cosmetics  Womens Wear             Kids Wear
2    Female   36       Cosmetics  Womens Wear                 Candy
3      Male   37  Computer Games    Gym Shoes                   Tie
4      Male   49           Heels  Womens Wear             Kids Wear
..      ...  ...             ...          ...                   ...
145  Female   31         Handbag       Movies                   Tie
146    Male   45  Computer Games         Toys  Educational Products
147    Male   39       Cosmetics  Womens Wear                 Candy
148  Female   33  Computer Games  Womens Wear  Educational Products
149    Male   49           Heels         Toys  Educational Products

             Coupon  Gender_n  Item1_n  Item2_n  Item3_n  Coupon_n
0      Kids Apparel         1        0        3        1         0
1    Womens Apparel         0        1        4        2         2
2    Womens Apparel         0        1        4        0         2
3      Mens Apparel         1        0        1        3         1
4    Womens Apparel         1        3        4        2         2
..              ...       ...      ...      ...      ...       ...
145  Womens Apparel         0        2        2        3         2
146    Kids Apparel         1        0        3        1         0
147  Womens Apparel         1        1        4        0         2
148    Kids Apparel         0        0        4        1         0
149  Womens Apparel         1        3        3        1         2

[150 rows x 11 columns]
input:      Age  Item1_n  Item2_n  Item3_n
0     45        0        3        1
1     34        1        4        2
2     36        1        4        0
3     37        0        1        3
4     49        3        4        2
..   ...      ...      ...      ...
145   31        2        2        3
146   45        0        3        1
147   39        1        4        0
148   33        0        4        1
149   49        3        3        1

[150 rows x 4 columns]
output:      Coupon_n
0           0
1           2
2           2
3           1
4           2
..        ...
145         2
146         0
147         2
148         0
149         2

[150 rows x 1 columns]

C:\Users\Vishva\AppData\Local\Temp\ipykernel_19804\441292937.py:30: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs = data.drop(['Coupon','Coupon_n','Gender','Item1','Item2','Item3','Gender_n'],'columns')
C:\Users\Vishva\AppData\Local\Temp\ipykernel_19804\441292937.py:31: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output = data.drop(['Gender','Age','Item1','Item2','Item3','Coupon','Item1_n','Item2_n','Item3_n','Gender_n'],'columns')

In [3]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(inputs,output,train_size=0.8)

print(x_train)
print(x_test)
print(y_train)
print(y_test)

from sklearn.svm import SVC
model = SVC()                         #initialize the model
model.fit(x_train,y_train)            #training
y_pred = model.predict(x_test)
print(y_pred)
print(y_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)     #actual values , predicted values
print(cm)


res=model.predict([[40,0,1,4]])                             #predict the output
print("result:",res)

acc=model.score(inputs,output)*100
print("acc:",acc)

     Age  Item1_n  Item2_n  Item3_n
107   41        4        0        3
53    39        3        1        1
22    32        0        2        2
32    24        4        2        0
25    29        1        2        3
..   ...      ...      ...      ...
37    27        3        4        2
72    47        4        2        1
40    41        1        2        0
55    24        2        4        1
34    37        4        2        1

[120 rows x 4 columns]
     Age  Item1_n  Item2_n  Item3_n
30    24        1        3        1
114   26        0        2        1
36    33        4        1        1
109   35        1        0        2
51    25        0        4        2
46    49        4        2        2
75    29        3        4        0
142   36        3        0        1
113   46        3        4        3
133   30        0        4        1
77    47        0        0        1
58    35        4        2        1
35    39        0        4        1
102   27        3        2        3
48    38        1        2        1
85    43        4        3        1
136   41        0        1        1
27    24        0        0        1
126   49        2        4        1
87    28        3        3        2
91    42        0        3        3
104   45        1        4        3
5     49        2        4        2
69    37        1        3        1
41    49        2        0        3
16    25        0        4        1
70    29        2        3        2
84    33        0        2        3
52    24        4        2        2
145   31        2        2        3
     Coupon_n
107         1
53          1
22          0
32          2
25          1
..        ...
37          2
72          1
40          2
55          2
34          1

[120 rows x 1 columns]
     Coupon_n
30          0
114         1
36          1
109         0
51          0
46          0
75          2
142         2
113         2
133         2
77          0
58          1
35          2
102         2
48          2
85          1
136         1
27          0
126         2
87          0
91          0
104         2
5           2
69          2
41          2
16          1
70          0
84          1
52          1
145         2
[0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0]
     Coupon_n
30          0
114         1
36          1
109         0
51          0
46          0
75          2
142         2
113         2
133         2
77          0
58          1
35          2
102         2
48          2
85          1
136         1
27          0
126         2
87          0
91          0
104         2
5           2
69          2
41          2
16          1
70          0
84          1
52          1
145         2
[[ 8  1  0]
 [ 8  0  0]
 [12  1  0]]
result: [0]
acc: 40.0

C:\Users\Vishva\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Vishva\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(